@import "./mixing.scss";

.container-fluid {
    padding: 0;
    margin: 0;
}

.section-head {
    padding: 10px;
}

.basic-button {
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}

.background-image-section {
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
}
.loader {
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 100;
    border: 16px solid black;
    border-radius: 50%;
    border-top: 16px solid #ee6e73;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin .5s linear infinite;
    margin: 0 auto;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
