@import "./mixing.scss";

.container-fluid {
    padding: 0;
    margin: 0;
}
.section-head {
    padding: 10px;
}
.basic-button {
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}
.background-image-section {
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 94vh;
    @include tablet{
        height: 92vh;
    }
}
