@import './variable.scss';

$xxs-min-width: 325px;
$xxs-max-width: 576px;
$xs-min-width: 577px;
$xs-max-width: 767px;
$sm-min-width: 768px;
$sm-max-width: 991px;
$md-min-width: 992px;
$md-max-width: 1199px;
$lg-min-width: 1200px;
$lg-max-width: 1439px;
$xlg-min-width: 1440px;
$xxlg-min-width: 1800px;

@mixin mobile {
    @media (max-width: #{$xs-max-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$sm-min-width}) {
        @content;
    }
}

@mixin desktopsmall {
    @media (min-width: #{$md-min-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$lg-min-width}) {
        @content;
    }
}

@mixin desktoplarge {
    @media (min-width: #{$xlg-min-width}) {
        @content;
    }
}
@mixin desktopxtralarge {
    @media (min-width: #{$xxlg-min-width}) {
        @content;
    }
}
